<mat-card>
	<mat-card-header>
		<mat-icon mat-card-avatar svgIcon="arrow-left" [routerLink]="['/', type]" ></mat-icon>
		<mat-card-title>{{ repo?.name }}<ngx-skeleton-loader *ngIf="!repo" count="1" [theme]="{ 'width.px': 450 }" ></ngx-skeleton-loader></mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="screenshots" *ngIf="repo?.screenshots?.length" >
			<a *ngFor="let screenshot of repo.screenshots" class="screenshot" [attr.src]="screenshot" >
				<img [src]="screenshot" [alt]="repo.name" >
			</a>
		</div>
		<div class="screenshots" *ngIf="!repo" >
			<ngx-skeleton-loader appearance="circle" count="3" ></ngx-skeleton-loader>
		</div>
		<markdown *ngIf="repo" [data]="repo?.readme" ></markdown>
		<ngx-skeleton-loader *ngIf="!repo" count="7" ></ngx-skeleton-loader>
	</mat-card-content>
</mat-card>
