<!DOCTYPE html>
<html lang="en">
<head>
	<module href="./modules/head.html"></module>
</head>
<body class="brown darken-4">
	<module href="./modules/header.html"></module>
	<main class="container z-depth-2 grey lighten-5 grey-text text-darken-3">
		<div class="row">
			<each loop="card, index in cards">
				<div class="col s12 m6 l4">
					<div class="card large">
						<div id="{{ card.title }}" class="card-image-placeholder hide">
							<h4 class="card-title grey-text text-darken-1">{{ card.title }}</h4>
						</div>
						<div class="card-content">
							<h4 class="card-title">{{ card.title }}</h4>
							<p markdown>{{ card.blurb }}</p>
						</div>
						<div class="card-action">
							<a href="/project/{{ card.title }}">More</a>
							<each loop="platform, index in card.runsOn.reverse()">
								<i class="right {{ platform.class.class || platform.class }}"></i>
							</each>
						</div>
					</div>
				</div>
			</each>
		</div>
	</main>
	<module href="./modules/footer.html"></module>
</body>
</html>
