<div class="cover-flow">
	<div class="covers" [style.--bg-color]="bgColor">
		<div class="cover" *ngFor="let item of items" [style.--item-size]="itemSize" [style.--shadow-color]="shadowColor">
			<div class="shadow"></div>
			<img [src]="item.img" [alt]="item.title" (blur)="selectTimeout(null, 400)" (click)="selectTimeout(item, 450)" tabindex="1">
		</div>
	</div>
	<div class="info" [ngClass]="{ selected: selected }">
		<p *ngIf="selected?.title" class="title">
			<a [href]="selected?.uri" [matBadge]="selected?.rating" matBadgeSize="large" matBadgeOverlap="false">{{ selected?.title }}</a>
		</p>
		<p *ngIf="selected?.subtitle" class="subtitle">{{ selected?.subtitle }}</p>
		<p *ngIf="selected?.description" class="description">{{ selected?.description }}</p>
	</div>
</div>
