.cover-flow {
	--bg-color: transparent;
	--item-size: 250px;
	--shadow-color: transparent;

	.covers {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: flex-end;
		background-color: var(--bg-color);
		height: calc(var(--item-size) * 0.65);

		.cover {
			flex: 1 0 calc(var(--item-size) / 3.1);
			// overflow: hidden;
			overflow-x: hidden;
			overflow-y: visible;
			perspective: 7px;
			transition: flex-basis 0.5s ease-in-out;
			height: 100%;

			img {
				width: var(--item-size);
				height: auto;
				transform: scale(0.9) rotate3d(0, 1, 0, 1deg);
				transition: transform 0.5s ease-in-out;
				box-shadow: 0 0 5px 3px var(--shadow-color);
				cursor: pointer;
				position: absolute;
				bottom: 7px;
			}

			&:hover, &:focus-within {
				flex-basis: var(--item-size);

				img {
					transform: none;
				}
			}
		}
	}

	.info {
		height: 1px;
		visibility: hidden;
		transition: height 0.25s ease-in;

		&.selected {
			height: 15rem;
			visibility: visible;
		}

		.title, .subtitle, .description {
			padding: 0;
			margin: 0;
		}

		.title {
			font-family: "Oswald", sans-serif;
			font-weight: 500;
			font-size: 1.3rem;
			padding: 25px 15px 5px;

			a {
				color: inherit;

				& > span {
					right: -3rem;
					background-color: var(--sky-yellow);
					color: var(--text);
					font-size: 0.75rem;
					vertical-align: middle;
					line-height: 3rem;
					width: 3rem;
					height: 3rem;
					clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
				}
			}
		}

		.subtitle {
			font-family: "Fira Sans Condensed", sans-serif;
			font-weight: 300;
			font-size: 0.75rem;
			opacity: 0.75;
			padding: 0 15px;
		}

		.description {
			font-family: "Fira Sans Condensed", sans-serif;
			font-weight: 300;
			font-size: 0.9rem;
			opacity: 0.9;
			padding: 10px 15px;
		}
	}
}
