@keyframes twinkle-top {
	from {
		// top: calc(-1.5rem + 3px);
		// border-bottom: 1.5rem solid var(--sky-yellow);
		// border-left: 0.35rem solid transparent;
		// border-right: 0.35rem solid transparent;
		transform: scaleY(1);
	}

	to {
		// top: calc(-2.5rem + 3px);
		// border-bottom: 2.5rem solid var(--sky-yellow);
		// border-left: 0.35rem solid transparent;
		// border-right: 0.35rem solid transparent;
		transform: scaleY(2);
	}
}

@keyframes twinkle-left {
	from {
		// left: calc(-1.5rem + 3px);
		// border-right: 1.5rem solid var(--sky-yellow);
		// border-top: 0.35rem solid transparent;
		// border-bottom: 0.35rem solid transparent;
		transform: scaleX(1);
	}

	to {
		// left: calc(-2.5rem + 3px);
		// border-right: 2.5rem solid var(--sky-yellow);
		// border-top: 0.35rem solid transparent;
		// border-bottom: 0.35rem solid transparent;
		transform: scaleX(2);
	}
}

@keyframes twinkle-bottom {
	from {
		// top: calc(0.7 - 3px);
		// border-top: 1.5rem solid var(--sky-yellow);
		// border-left: 0.35rem solid transparent;
		// border-right: 0.35rem solid transparent;
		transform: scaleY(1);
	}

	to {
		// top: calc(0.7 - 3px);
		// border-top: 2.5rem solid var(--sky-yellow);
		// border-left: 0.35rem solid transparent;
		// border-right: 0.35rem solid transparent;
		transform: scaleY(2);
	}
}

@keyframes twinkle-right {
	from {
		// left: calc(0.7 - 3px);
		// border-left: 1.5rem solid var(--sky-yellow);
		// border-top: 0.35rem solid transparent;
		// border-bottom: 0.35rem solid transparent;
		transform: scaleX(1);
	}

	to {
		// left: calc(0.7 - 3px);
		// border-left: 2.5rem solid var(--sky-yellow);
		// border-top: 0.35rem solid transparent;
		// border-bottom: 0.35rem solid transparent;
		transform: scaleX(2);
	}
}

.container {
	width: calc(10rem + 1rem);
	height: calc(10rem + 1rem);
	padding: 0;
	margin: 0;

	.crescent-wrapper {
		position: relative;
		display: inline-block;
		width: calc(10rem + 1rem);
		height: calc(10rem + 1rem);

		.crescent {
			position: absolute;
			top: calc(50% - 1rem);
			left: calc(50% + 1rem);
			transform: translate(-50%, -50%);
			width: 10rem;
			height: 10rem;
			border-radius: 50%;
			box-shadow: -1rem 1rem 0 0 var(--sky-yellow);
			opacity: 0.5;
		}

		.star {
			position: absolute;
			background-color: var(--sky-yellow);
			width: calc(0.35rem * 2 - 1px);
			height: calc(0.35rem * 2 - 1px);
			opacity: 0.75;

			&:nth-child(2) {
				top: 2rem;
				right: 20%;
			}

			&:nth-child(3) {
				top: 5rem;
				right: 45%;

				& > *:nth-child(odd) {
					animation-delay: 0.5s !important;
				}

				& > *:nth-child(even) {
					animation-delay: 0s !important;
				}
			}

			.beam:nth-child(1) {
				position: absolute;
				top: -1.5rem;
				left: 0;
				border-bottom: 1.5rem solid var(--sky-yellow);
				border-left: 0.35rem solid transparent;
				border-right: 0.35rem solid transparent;
				will-change: top, left, border;
				animation: twinkle-top 0.5s linear infinite alternate;
			}

			.beam:nth-child(2) {
				position: absolute;
				top: 0;
				left: calc(0.7rem - 2px);
				border-left: 1.5rem solid var(--sky-yellow);
				border-top: 0.35rem solid transparent;
				border-bottom: 0.35rem solid transparent;
				will-change: top, left, border;
				animation: twinkle-right 0.5s linear 0.5s infinite alternate;
			}

			.beam:nth-child(3) {
				position: absolute;
				top: calc(0.7rem - 2px);
				left: 0;
				border-top: 1.5rem solid var(--sky-yellow);
				border-left: 0.35rem solid transparent;
				border-right: 0.35rem solid transparent;
				will-change: top, left, border;
				animation: twinkle-bottom 0.5s linear infinite alternate;
			}

			.beam:nth-child(4) {
				position: absolute;
				top: 0;
				left: -1.5rem;
				border-right: 1.5rem solid var(--sky-yellow);
				border-top: 0.35rem solid transparent;
				border-bottom: 0.35rem solid transparent;
				will-change: top, left, border;
				animation: twinkle-left 0.5s linear 0.5s infinite alternate;
			}
		}
	}
}
