@charset "UTF-8";
:root {
  --fira: 'Fira Sans', sans-serif;
  --mono: 'Fira Mono', monospace;
  --bg: #2f3640;
  --bg-alt: #f5f6fa;
  --bg-head: #273c75;
  --fg: #2f3640;
  --fg-alt: #dcdde1;
  --nav-hl1: #e84118;
  --nav-hl2: #c23616;
  --ln: #00a8ff;
  --ln-hover: #0097e6;
  --ln-visited: #9c88ff;
  --shadow: #00000077;
  --warning: #c23616;
  --warning-alt: #fbc531;
  --head-height: 57px;
  --foot-height: 90px;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 100vh;
  overflow-y: auto;
}

body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: var(--fira);
  color: var(--fg);
  background-color: var(--bg);
  width: 100%;
}

body a {
  color: var(--ln);
  text-decoration: none;
}

body a:visited {
  color: var(--ln-visited);
}

body a:hover {
  color: var(--ln-hover);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg-head);
  font-size: 0;
  width: 100%;
  height: var(--head-height);
  -webkit-box-shadow: 0 1px 5px 0 var(--shadow);
          box-shadow: 0 1px 5px 0 var(--shadow);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 900px;
  height: var(--head-height);
  margin: auto;
}

header nav div.navMenu a#hamburger {
  display: none;
}

header nav div.navMenu a#hamburger img {
  max-width: 24px;
  padding: 5px;
  border: 2px solid var(--fg-alt);
  border-radius: 10px;
}

header nav ul {
  display: inline-block;
  list-style: none;
  height: calc(var(--head-height) + 1px);
  margin: 0;
  padding: 0;
}

header nav ul li.lang a img {
  height: 32px;
  line-height: var(--head-height);
  vertical-align: middle;
}

header nav ul li {
  display: inline-block;
  height: var(--head-height);
  line-height: var(--head-height);
  vertical-align: middle;
}

header nav ul li:not(:last-child) div.menu:after, header nav ul li.lang:not(:last-child):after {
  content: '';
  display: inline-block;
  height: calc(var(--head-height) * 0.85);
  width: 1px;
  background-color: var(--fg-alt);
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
  top: -8px;
}

header nav ul li a {
  font-weight: 500;
  font-size: 24px;
  color: var(--fg-alt);
  text-shadow: 1px 1px 5px var(--shadow);
  padding: 15px 10px;
}

header nav ul li a:visited {
  color: var(--fg-alt);
}

header nav ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--nav-hl1)), to(var(--nav-hl2)));
  background: linear-gradient(var(--nav-hl1), var(--nav-hl2));
}

header nav ul li .menu {
  position: relative;
}

header nav ul li .menu .menuList {
  display: none;
  position: absolute;
  left: 0;
  top: var(--head-height);
  height: auto;
  width: 200px;
  line-height: 18px;
  background-color: var(--bg-head);
}

header nav ul li .menu .menuList .menuItem {
  display: block;
  width: 100%;
  height: auto;
  line-height: 18px;
}

header nav ul li .menu .menuList .menuItem a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
}

header nav ul li .menu:hover .menuList, header nav ul li .menu .menuList:hover {
  display: block;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--bg-alt);
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 50px;
  border-right: 1px solid var(--fg);
  border-left: 1px solid var(--fg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: var(--bg-head);
  color: var(--fg-alt);
  padding: 20px 0;
  -webkit-box-shadow: inset 0 1px 5px 0 var(--shadow);
          box-shadow: inset 0 1px 5px 0 var(--shadow);
}

footer p {
  width: 80%;
  max-width: 900px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

footer .copyright {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 1px 1px 1px var(--bg-alt);
  padding: 5px 0;
  text-align: center;
  line-height: 14px;
  vertical-align: middle;
}

footer .copyright:before {
  content: '©';
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
  vertical-align: middle;
}

pre {
  background-color: #fff;
  width: 100%;
  overflow-x: auto;
}

pre code {
  font-family: var(--mono);
  font-weight: 400;
}

@media screen and (max-width: 1025) {
  header nav {
    width: inherit;
  }
}

@media screen and (max-width: 900px) {
  header nav {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  header nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
  }
  header nav div.navMenu {
    position: relative;
    margin: auto 15px;
    max-width: 50%;
  }
  header nav div.navMenu a#hamburger {
    display: block;
  }
  header nav div.navMenu > ul {
    display: none;
    position: absolute;
    top: calc(var(--head-height) - 10px);
    left: -15px;
    height: initial;
    background-color: var(--bg-head);
  }
  header nav div.navMenu > ul > li {
    display: block;
  }
  header nav div.navMenu > ul > li .menu > a {
    display: block;
    padding: 0 15px;
  }
  header nav div.navMenu ul .menu ul.menuList {
    display: none;
    top: -100%;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 165px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header nav ul {
    margin-right: 15px;
  }
  header nav ul li.lang a {
    padding: 14px 7px;
  }
  header nav ul li:not(:last-child) div.menu::after, header nav ul li.lang:not(:last-child)::after {
    display: none;
  }
  main {
    width: 100vw;
    padding: 15px;
    padding-bottom: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=common.css.map */