<div class="container">
	<mat-accordion>
		<mat-expansion-panel *ngFor="let recipe of recipes"
			[id]="recipe.id"
			(opened)="open(recipe.id)"
			(closed)="close()"
			[expanded]="current === recipe.id"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>{{ recipe.title }}</mat-panel-title>
				<mat-panel-description>{{ recipe.modified * 1000 | date }}</mat-panel-description>
			</mat-expansion-panel-header>
			<markdown [data]="recipe.content"></markdown>
		</mat-expansion-panel>
	</mat-accordion>
</div>
