<div class="container">
	<h1>{{ repo?.name }} <span class="stars" [matBadge]="repo?.stars ? repo?.stars : null"></span></h1>
	<a *ngFor="let screenshot of repo?.screenshots" class="screenshot-wrapper" [attr.src]="screenshot">
		<img class="screenshot" [src]="screenshot">
	</a>
	<markdown [data]="repo?.readme"></markdown>
</div>
<svg width="0" height="0">
	<clipPath id="star" transform="scale(1.1) translate(-1.5, -2.75)">
		<path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
	</clipPath>
</svg>
