.container {
	max-width: 800px;
	width: 80%;
	margin: auto;

	.stars > * {
		position: absolute;
		background-color: var(--sky-yellow);
		top: -1px;
		right: -25px;
		z-index: 1;
		clip-path: url(#star);
		color: var(--text);
	}

	.screenshot-wrapper {
		display: inline-block;
		padding: 5px;
		border: 1px solid var(--shadow);
		cursor: pointer;

		.screenshot {
			height: 15rem;
			width: auto;
		}
	}
}
