@keyframes twinkle {
	from {
		transform: scale(0.75);
	}

	to {
		transform: scale(1);
	}
}

@keyframes shine {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes drift {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(800px);
	}
}

@keyframes sway {
	from {
		transform: skewX(0);
	}

	to {
		transform: skewX(-30deg);
	}
}

@keyframes fall {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(400px);
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.container {
	width: 100%;
	height: 100vh;
	max-height: 700px;

	&.notGecko {
		#star1, #star2 {
			animation: twinkle 3s linear infinite alternate;
		}

		#sun1 {
			transform-origin: 70px 70px;
			animation: shine 10s linear infinite;
		}

		#clouds {
			animation: drift 20s linear infinite;
		}

		#left-lid, #right-lid {
			animation: fade 1.35s linear infinite alternate;
		}

		#downpour, #snowstorm {
			animation: fall 10s linear infinite;
		}

		#grass-back {
			animation: sway 10s linear infinite alternate;
		}

		#grass-front {
			animation: sway 10s linear 3s infinite alternate;
		}
	}
}

.konami-bar {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

.close-btn {
	background-color: var(--background);
	box-shadow: 1px 1px 3px 1px var(--shadow);
	position: absolute;
	top: 15px;
	right: 5px;
}

.location {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 18px;
	background-color: var(--background);
	box-shadow: 1px 1px 3px 1px var(--shadow);
	height: 40px;
	padding: 5px 10px;
	border-radius: 25px;
	box-sizing: border-box;
	position: absolute;
	top: 15px;
	left: 20%;
	transform: translateX(-50%);
}

.warning {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 18px;
	background-color: var(--background);
	box-shadow: 1px 1px 3px 1px var(--shadow);
	height: 40px;
	padding: 5px 10px;
	border-radius: 25px;
	box-sizing: border-box;
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
}
