<mat-sidenav-container [hasBackdrop]="false" >
	<mat-sidenav #sidenav [opened]="true" [fixedInViewport]="true" mode="push" >
		<nav>
			<ul>
				<li><a mat-icon-button [routerLink]="['/', 'about']" [matTooltip]="'common.about' | translate" ><mat-icon svgIcon="account" ></mat-icon></a></li>
				<li><a mat-icon-button href="https://tech.ozymandias.tk/" [matTooltip]="'common.tech' | translate" ><mat-icon svgIcon="post-outline" ></mat-icon></a></li>
				<li><a mat-icon-button [routerLink]="['/', 'apps']" [matTooltip]="'common.apps' | translate" ><mat-icon svgIcon="apps" ></mat-icon></a></li>
				<li><a mat-icon-button [routerLink]="['/', 'libs']" [matTooltip]="'common.libs' | translate" ><mat-icon svgIcon="library" ></mat-icon></a></li>
				<li><a mat-icon-button href="https://kitchen.ozymandias.tk/" [matTooltip]="'common.kitchen' | translate" ><mat-icon svgIcon="chef-hat" ></mat-icon></a></li>
				<li><a mat-icon-button [routerLink]="['/', 'hobbies']" [matTooltip]="'common.hobbies' | translate" ><mat-icon svgIcon="coffee" ></mat-icon></a></li>
				<li><a mat-icon-button class="donate" [routerLink]="['/', 'donate']" [matTooltip]="'common.donate' | translate" ><mat-icon svgIcon="heart" ></mat-icon></a></li>
				<li>
					<mat-form-field class="lang-select">
						<mat-select [value]="lang" (valueChange)="onLang($event)">
							<mat-select-trigger>
								<mat-icon [svgIcon]="lang"></mat-icon>
								<span class="lang">{{ lang | uppercase }}</span>
							</mat-select-trigger>
							<mat-option *ngFor="let lng of languages" [value]="lng">
								<mat-icon [svgIcon]="lng"></mat-icon>
								<span class="lang">{{ lng | uppercase }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</li>
			</ul>
		</nav>
		<h1><a [routerLink]="['/']" translate >profile.me</a></h1>
		<p class="tagline" translate >common.tagline</p>
		<div class="avatar">
			<img [src]="avatar" [alt]="'profile.me' | translate" >
		</div>
		<fieldset>
			<legend translate>Contact Me!</legend>
			<ul>
				<li><a mat-icon-button href="https://github.com/OzymandiasTheGreat"><mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon></a></li>
				<li><a mat-icon-button href="mailto:tomas.rav@gmail.com"><mat-icon svgIcon="gmail" matTooltip="Email"></mat-icon></a></li>
				<li><a mat-icon-button href="https://wa.me/37064020967"><mat-icon svgIcon="whatsapp" matTooltip="WhatsApp"></mat-icon></a></li>
				<li><a mat-icon-button href="https://www.messenger.com/t/OzymandiasTheGreat"><mat-icon svgIcon="facebook-messenger" matTooltip="Facebook Messenger"></mat-icon></a></li>
			</ul>
		</fieldset>
	</mat-sidenav>
	<mat-sidenav-content>
		<button class="toggle" mat-icon-button (click)="sidenav.toggle()" [ngClass]="{ opened: sidenav.opened }" ><mat-icon svgIcon="chevron-left" ></mat-icon></button>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
