@keyframes crawl {
	100% {
		transform: translateX(0);
	}
}

.container {
	position: absolute;
	width: 200%;
	height: 100%;
	filter: url(#fog) invert(90%) blur(5px);
	transform: translateX(-50%);
	will-change: transform;
	animation: crawl 60s linear infinite;
	overflow: hidden;
}
