<mat-card >
	<mat-card-header>
		<mat-icon mat-card-avatar svgIcon="arrow-left" [routerLink]="['/']" ></mat-icon>
		<mat-card-title translate >common.apps</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-nav-list>
			<a mat-list-item *ngFor="let repo of repos" [routerLink]="['/', 'apps', repo.name]" >
				<img mat-list-avatar *ngIf="repo.screenshots?.length" [src]="repo.screenshots[0]" [alt]="repo.name" >
				<mat-icon *ngIf="!repo.screenshots?.length" mat-list-icon svgIcon="cog-box" ></mat-icon>
				<h3 mat-line ><span class="title" [matBadge]="repo.stars" [matBadgeOverlap]="false" >{{ repo.name }}</span></h3>
				<p mat-line >{{ repo.description }}</p>
			</a>
		</mat-nav-list>
		<ngx-skeleton-loader *ngIf="!repos" count="9" ></ngx-skeleton-loader>
	</mat-card-content>
</mat-card>
<svg width="0" height="0">
	<clipPath id="star" transform="scale(1.1) translate(-1.5, -2.75)">
		<path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
	</clipPath>
</svg>
