<footer class="page-footer z-depth-2 purple darken-4 grey-text text-lighten-4">
	<div class="container center-align">
		<fieldset class="contact left-align">
			<legend>{{ contact }}</legend>
			<div id="footer-contact">
				<a href="https://github.com/OzymandiasTheGreat"><i class="fab fa-github"></i></a>
				<a href="mailto:tomas.rav@gmail.com"><i class="fas fa-envelope"></i></a>
				<a href="https://wa.me/37064020967"><i class="fab fa-whatsapp"></i></a>
				<a href="https://www.messenger.com/t/OzymandiasTheGreat"><i class="fab fa-facebook-messenger"></i></a>
			</div>
		</fieldset>
		<div class="copyright">
			<p>2019 - Tomas Ravinskas</p>
		</div>
	</div>
</footer>
<module href="./gdpr.html"></module>
