<ul id="app-list" class="dropdown-content">
	<each loop="app, index in appList">
		<li><a class="waves-effect" href="/project/{{ app.title }}">{{ app.title }}</a></li>
	</each>
</ul>
<ul id="lib-list" class="dropdown-content">
	<each loop="lib, index in libList">
		<li><a class="waves-effect" href="/project/{{ lib.title }}">{{ lib.title }}</a></li>
	</each>
</ul>
<ul id="sidenav" class="sidenav">
	<li>
		<ul class="collection with-header">
			<li class="collection-header"><h6>{{ language }}</h6></li>
			<li class="collection-item"><div><a class="english waves-effect" href="#!">English<img class="secondary-content flag responsive-image" src="/img/flags/GB.svg" alt="Flag of UK"></a></div></li>
			<li class="collection-item"><div><a class="lithuanian waves-effect" href="#!">Lietuvių <img  class="secondary-content flag responsive-image" src="/img/flags/LT.svg" alt="Flag of Lithuania"></a></div></li>
		</ul>
	</li>
	<li><a class="waves-effect" href="{{ dev ? '/index' : '/' }}">{{ about }}</a></li>
	<li>
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="waves-effect" href="/applications">{{ apps }}<i class="collapsible-header expander fas fa-angle-down"></i></a>
				<div class="collapsible-body">
					<ul>
						<each loop="app, index in appList">
							<li><a class="waves-effect" href="/project/{{ app.title }}">{{ app.title }}</a></li>
						</each>
					</ul>
				</div>
			</li>
			<li>
				<a class="waves-effect" href="/libraries">{{ libs }}<i class="collapsible-header expander fas fa-angle-down"></i></a>
				<div class="collapsible-body">
					<ul>
						<each loop="lib, index in libList">
							<li><a class="waves-effect" href="/project/{{ lib.title }}">{{ lib.title }}</a></li>
						</each>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>
<header class="navbar-fixed z-depth-2 purple darken-4 grey-text text-lighten-4">
	<nav class="z-depth-0 purple darken-4 grey-text text-lighten-4">
		<div class="nav-wrapper container">
			<a href="#" class="left sidenav-trigger" data-target="sidenav"><i class="fas fa-bars"></i></a>
			<ul class="left hide-on-med-and-down">
				<li><a href="{{ dev ? '/index' : '/' }}">{{ about }}</a></li>
				<li><a class="dropdown-trigger" data-target="app-list" href="/applications">{{ apps }}</a></li>
				<li><a class="dropdown-trigger" data-target="lib-list" href="/libraries">{{ libs }}</a></li>
			</ul>
			<a class="brand-logo center" href="{{ dev ? '/index' : '/' }}">Ozymandias</a>
			<ul class="lang-menu right hide-on-med-and-down">
				<li><a class="english" href="#"><img class="flag responsive-image" src="/img/flags/GB.svg" alt="Flag of UK"></a></li>
				<li><a class="lithuanian" href="#"><img class="flag responsive-image" src="/img/flags/LT.svg" alt="Flag of Lithuania"></a></li>
			</ul>
		</div>
	</nav>
</header>
