<mat-card class="card" >
	<mat-card-header>
		<mat-icon mat-card-avatar svgIcon="arrow-left" [routerLink]="['/']" ></mat-icon>
		<mat-card-title translate>common.donate</mat-card-title>
	</mat-card-header>
	<mat-card-content >
		<p class="blurb" translate >donate.blurb</p>
		<p class="box" >
			<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
			<iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/open-source-support?default_interval=o&amount=5" style="max-width: 500px; min-width: 250px; max-height:none!important" width="100%"></iframe>
		</p>
	</mat-card-content>
</mat-card>
