.expanded {

	.profile {
		padding: 0 15px;
		box-sizing: border-box;
	}
}

.profile {
	.contact-box {
		float: left;

		.pic-wrapper {
			width: 256px;
			height: 256px;
			padding: 5px;
			border-radius: 50%;
			margin: 0.5rem 3.5rem 0.5rem 0.5rem;
			box-shadow: 0 0 3px 1px var(--shadow);

			.profile-pic {
				width: 256px;
				height: 256px;
				border-radius: 50%;
			}
		}

		fieldset {
			width: 256px;
			border: 1px solid var(--shadow);
			border-radius: 5px;
			margin-bottom: 1rem;

			legend {
				font-size: 0.9rem;
				font-weight: bold;
			}
		}
	}

	.table-wrapper {
		width: 100%;
		height: auto;
		overflow-x: auto;

		table {
			width: 100vw;
			min-width: 800px;
			height: auto;
		}
	}
}
