/* You can add global styles to this file, and also import other style files */
:root {
	--sky-yellow: #ffff00;
	--day-blue: linear-gradient(to bottom, #b3e5fc 0%, #0288d1 100%);
	--night-blue: linear-gradient(to bottom, #00000066 0%, #000000aa), linear-gradient(to bottom, #5c6bc0 0%, #1a237e 100%);
	--dusk-orange: radial-gradient(ellipse at bottom -10% right 25%, #ff6d00dd 0%, transparent 100%), var(--day-blue);
	--dawn-yellow: radial-gradient(ellipse at bottom -10% left 25%, #ffff0066 0%, transparent 100%), var(--night-blue);
	--grass-green: #33691e;
	--grass-green-light: #2e7d32;
	--grass-green-dark: #1b5e20;
	--tree-brown: #3e241e;
	--snow-white: #ffffff;
	--sakura-pink: #fce4ec;
	--fall-amber: #ff6f00;
	--shadow: #21212166;
	--storm-cloud: linear-gradient(to bottom, transparent 0%, #9e9e9eaa 40%, #757575aa 80%, transparent 100%);

	--background: #fdfdfd;
	--background-transparent: #fdfdfd66;
	--white: #ffffff;
	--dark-gray: #212121;
	--text: #212121;
	--footer: #9e9e9e;
}

html {
	background:
		linear-gradient(324deg, #fefefe 4%,   transparent 4%) -70px 43px,
		linear-gradient( 36deg, #fefefe 4%,   transparent 4%) 30px 43px,
		linear-gradient( 72deg, #ffff8d 8.5%, transparent 8.5%) 30px 43px,
		linear-gradient(288deg, #ffff8d 8.5%, transparent 8.5%) -70px 43px,
		linear-gradient(216deg, #ffff8d 7.5%, transparent 7.5%) -70px 23px,
		linear-gradient(144deg, #ffff8d 7.5%, transparent 7.5%) 30px 23px,

		linear-gradient(324deg, #fefefe 4%,   transparent 4%) -20px 93px,
		linear-gradient( 36deg, #fefefe 4%,   transparent 4%) 80px 93px,
		linear-gradient( 72deg, #ffff8d 8.5%, transparent 8.5%) 80px 93px,
		linear-gradient(288deg, #ffff8d 8.5%, transparent 8.5%) -20px 93px,
		linear-gradient(216deg, #ffff8d 7.5%, transparent 7.5%) -20px 73px,
		linear-gradient(144deg, #ffff8d 7.5%, transparent 7.5%) 80px 73px;
		background-color: #fefefe;
		background-size: 100px 100px;
}

html, body {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
	height: 100%;
	padding: 0;
	margin: 0;
}

.donate {
	color: #d50000;
}
