.mat-card {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
	width: 80%;
	height: max-content;
	max-width: 800px;
	margin: 25px auto;
	box-shadow: 1px 1px 3px 1px var(--shadow);

	.mat-card-header {
		font-family: "Oswald", sans-serif;
		font-weight: 500;
		height: 64px;
	}
}
