<section class="hero-wrapper">
	<app-hero class="hero" (fullscreen)="konami = $event" ></app-hero>
</section>
<section class="cards" *ngIf="!konami" >
	<mat-card tabindex="0" (focus)="navigate('about')" >
		<mat-card-header >
			<mat-icon mat-card-avatar svgIcon="account" ></mat-icon>
			<mat-card-title translate >common.about</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="aboutUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('https://tech.ozymandias.tk/', true)" >
		<mat-card-header>
			<mat-icon mat-card-avatar svgIcon="post-outline" ></mat-icon>
			<mat-card-title translate >common.tech</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="techUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('apps')" >
		<mat-card-header >
			<mat-icon mat-card-avatar svgIcon="apps" ></mat-icon>
			<mat-card-title translate >common.apps</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="appsUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('libs')" >
		<mat-card-header >
			<mat-icon mat-card-avatar svgIcon="library" ></mat-icon>
			<mat-card-title translate >common.libs</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="libsUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('https://kitchen.ozymandias.tk/', true)" >
		<mat-card-header>
			<mat-icon mat-card-avatar svgIcon="chef-hat" ></mat-icon>
			<mat-card-title translate >common.kitchen</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="kitchenUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('hobbies')" >
		<mat-card-header >
			<mat-icon mat-card-avatar svgIcon="coffee" ></mat-icon>
			<mat-card-title translate >common.hobbies</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<markdown [src]="hobbiesUri" ></markdown>
		</mat-card-content>
	</mat-card>
	<mat-card tabindex="0" (focus)="navigate('donate')" >
		<mat-card-header >
			<mat-icon mat-card-avatar class="donate" svgIcon="heart" ></mat-icon>
			<mat-card-title translate >common.donate</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p translate >donate.blurb</p>
		</mat-card-content>
	</mat-card>
</section>
